*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #000;
    color: #fff;
    user-select: none;
    -moz-user-select: none;
    padding: 10px;
}
.contents{
    margin-bottom: 10px;
    width: 100%;
}
.input_css{
    background-color: #000000;
    color: #ffffff;
    border: none;
    outline: none;
}